Repository 1crowie1/SIS-realestate, pull requests merged in 2022-08, with the labels that each got.

#4 Weekly journal template
  Documentation/Weekly Journal/41129 Software Innovation Studio Weekly Journal Template.docx
Labels: documentation

#6 Add mockup to README.md
  README.md
Labels: documentation, Low Priority

#8 Basic Front-end setup
  assets/css/style.css
  assets/images/1.png
  assets/images/2.png
  assets/images/3.png
  front-end/index.html
Labels: Frontend, High Priority

#9 main and model created with logging template
  Recommendation/main.py
  Recommendation/model.py
  Recommendation/requirements.txt
Labels: Backend, Medium Priority

#10 test pr
  Recommendation/main.py
Labels: documentation

#11 Mockup Documentation and Algorithm Design document
  Documentation/Design/algorithm_design_plan.docx
  Documentation/Design/mockup_v1.docx
Labels: documentation, Medium Priority

#12 Created Initial Suburb Level Attributes Dataframe
  Recommendation/model.py
Labels: feature, Backend, High Priority

#35 Wireframe prototypes
  Documentation/Design/Wireframe Prototypes/LandingPagePrototype_1.PNG
  Documentation/Design/Wireframe Prototypes/LandingPagePrototype_2.PNG
  Documentation/Design/Wireframe Prototypes/WireframePreferencesPrototype_1.PNG
Labels: Frontend, Low Priority

#37 backend skeleton
  backend/.gitignore
  backend/index.js
  backend/package-lock.json
  backend/package.json
Labels: Backend, High Priority

#38 meeting minutes test (14-08-2022)
  Documentation/Meeting Minutes/20220814 - Stand-up Meeting Note.docx
  Documentation/Meeting Minutes/20220814 - Stand-up Meeting Note.pdf
Labels: documentation

#39 Wireframes Sorting
  Documentation/Design/Wireframe Prototypes/JPG/LandingPagePrototype_1.jpg
  Documentation/Design/Wireframe Prototypes/JPG/LandingPagePrototype_2.jpg
  Documentation/Design/Wireframe Prototypes/JPG/WireframePreferencesPrototype_1.jpg
  Documentation/Design/Wireframe Prototypes/PNG/LandingPagePrototype_1.PNG
  Documentation/Design/Wireframe Prototypes/PNG/LandingPagePrototype_2.PNG
  Documentation/Design/Wireframe Prototypes/PNG/WireframePreferencesPrototype_1.PNG
Labels: documentation, Low Priority

#41 Team charter
  Documentation/Overall project Documentation/Final Team 4 - Team Charter 2022 Spring.pdf
Labels: documentation

#40 Initial presentation
  Documentation/Presentation/Presentation.docx
Labels: documentation, Low Priority
